<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secrets REST API</title>
    <style>
      body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-family: Arial, sans-serif;
        text-align: center;
      }
      .container {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin: 50px auto;
        max-width: 600px;
        padding: 20px;
      }
      form {
        margin-top: 20px;
      }
      label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
      input[type='text'],
      input[type='number'] {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 8px;
        width: 100%;
      }
      input[type='submit'] {
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        padding: 10px 20px;
      }
      .response-area {
        background-color: #f0f0f0;
        margin-top: 20px;
        padding: 20px 5px;
      }
      #get {
        background-color: #2ecc71;
      }
      #get:hover {
        background-color: #27ae60;
      }
      #post {
        background-color: #3498db;
      }
      #post:hover {
        background-color: #2980b9;
      }
      #put {
        background-color: #9b59b6;
      }
      #put:hover {
        background-color: #8e44ad;
      }
      #patch {
        background-color: #f1c40f;
      }
      #patch:hover {
        background-color: #f39c12;
      }
      #delete {
        background-color: #e74c3c;
      }
      #delete:hover {
        background-color: #c0392b;
      }
    </style>
  </head>
  <body>
    <h1>Secrets!</h1>
    <div class="container">
      <div class="response-area">
        <p><%= content %></p>
      </div>
      <form id="myForm" method="post">
        <label for="idInput">Id:</label>
        <input type="text" name="id" id="idInput" />

        <label for="secretInput">Secret:</label>
        <input type="text" name="secret" id="secretInput" />

        <label for="scoreInput">Score:</label>
        <input type="text" name="score" id="scoreInput" />

        <label for="submit">Route:</label>
        <input id="get" type="submit" value="GET" formaction="/get-secret" />
        <input id="post" type="submit" value="POST" formaction="/post-secret" />
        <input id="put" type="submit" value="PUT" formaction="/put-secret" />
        <input
          id="patch"
          type="submit"
          value="PATCH"
          formaction="/patch-secret"
        />
        <input
          id="delete"
          type="submit"
          value="DELETE"
          formaction="/delete-secret"
        />
      </form>
    </div>
  </body>
</html>
